/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --accent-color: #FF0070;
  --title-shadow: #FF0070;
  --title-color: #FF0070;
  --title-dark: #000028;
  --bg: #000028;
  --font-color: #F1B2CE;
  --accent-title-color: #DB00FF;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --title-shadow: #FF0070;
  --title-color: #FF0070;
  --title-dark: #000028;
  --bg: #000028;
  --font-color: #F1B2CE;
  --accent-title-color: #DB00FF;
}

.page.theme-dark .rec {
  display: block;
}

.page.theme_dark  {
  background-image: url("../images/cover-image-dark.png");
}
.page.theme_dark .decorated-zone {
  background-image: url("../images/corner-start.svg"), url("../images/corner-end.svg");
}


@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --title-shadow: #FF0070;
    --title-color: #FF0070;
    --title-dark: #000028;
    --bg: #000028;
    --font-color: #F1B2CE;
    --accent-title-color: #DB00FF;
  }

  .decorated-zone {
    background-image: url("../images/corner-start.svg"), url("../images/corner-end.svg");
  }
  .rec {
    display: block;
  }
  .page {
    background-image: url("../images/cover-image-dark.png");
  }
}
