/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root {
  --max-width: 984px;

  @media screen and (max-width: 1023px) {
    --max-width: 768px;
  }

  @media screen and (max-width: 767px) {
    --max-width: 375px;
  }
}
.page {
  display: grid;
  background-image: url("../images/cover-image-dark.png");
  background-attachment: fixed;
  background-size: cover;
}

* {
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin: -20px 0 0 0;
  text-shadow: 4px 4px 0 var(--title-shadow);
  line-height: 100%;
  font-weight: bold;
  grid-row: 4/5;
  display: flex;
  align-items: center;
  color: var(--accent-title-color);
}

.intro-aside {
  width: 491px;
  margin: 2px 21px 0 auto;
  margin-bottom: 0px;
  padding: 1px 1px;
  grid-row: 6/7;
  height: fit-content;
  align-content: first baseline;
  
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 10px;
}

.header__theme-menu {
  grid-row: 1/2;
  color: var(--accent-color);
  font-size: 18px;
  padding: 0 0 0 0;
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__theme-menu-button {
  text-transform: lowercase;
  box-sizing: border-box;
  padding: 7px 14px;
  font-size: 18px;
  line-height: 18px;
  background: none;
  border: 1px solid transparent;
  outline: none;
  display: block;
  margin: 1px 3px;
}

.header__theme-menu-button:hover {
  border-color: var(--accent-color);
}

.header__theme-menu-button:focus {
  border-color: transparent;
  border-bottom: 1px solid var(--accent-color);
}

.header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 60px 0;
}
.decorated-zone {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 12px 0 0 0;
  position: relative;
  background-image: url("../images/corner-start.svg"), url("../images/corner-end.svg");
  background-position: top 20px right 20px, bottom 30px left 20px;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(7, calc(100vh / 7));
}

.rec {
  color: var(--accent-color);
  position: absolute;
  top: 20px;
  right: 48px;
  font-size: 18px;
}

.rec::after {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  content: "";
  background: radial-gradient(circle, rgb(255, 0, 112) 10%, rgba(255, 255, 255, 0) 80%), radial-gradient(circle, rgb(255, 0, 112) 10%, rgba(255, 255, 255, 0) 80%);
  right: -22px;
  top: 4px;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  max-width: var(--max-width);
  margin: 0 auto 80px;
}

.section-title-aside {
  /* color: var(--accent-color); */
  color: var(--title-color);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.article-long {
  grid-column: 2/4;
}

.article-p {
  color: var(--font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.section-tripple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
  max-width: var(--max-width);
  margin: 0 auto 80px;
}

.section-tripple-title-aside {
  grid-row: 1/2;
  grid-column: 1/2;
}

.article-tripple-short {
  grid-row: 2/3;
}

.article-list-item {
  margin-bottom: 20px;
}
.article-list-title {
  color: var(--title-dark);
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 10px 0;
}

.article-list-p {
  color: var(--font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.title-decor ~ .article-list {
  margin-top: 20px;
}

.section-gallery {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  max-width: var(--max-width);
  margin: -40px auto 24px;
}

.section-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  max-width: inherit;
}

.section-gallery-container-li {
  /* display: block; */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.vertical {
  grid-row: span 2;
  aspect-ratio: 1000/1899;
}

.vertical-width {
  grid-row: span 2;
}

.horizontal {
  grid-column: span 2;
  aspect-ratio: 5/2;
}

.square {
  aspect-ratio: 1/1;
}

.high-horisontal {
  aspect-ratio: 3/2;
  grid-column: span 2;
}

.section-gallery-container-image {
  width: auto;
  height: 100%;
}

.center {
  text-align: center;
}

.footer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
  }

  .header__theme-menu {
    grid-row: 2/3;
    padding: 40px 14px 0 0;
  }

  .rec {
    right: 47px;
    top: 22px;
  }

  .intro-aside {
    width: 364px;
    grid-row: 6/9;
    margin: -7px 20px 0 auto;
  }
  .main-title {
    grid-row: 4/5;
    display: unset;
    margin: 15px 0 0 0;
  }

  .header {
    margin: 0 0 60px 0;
  }

  .section {
    grid-column-gap: 33px;
    padding: 0 20px;
  }

  .section-tripple {
    grid-template-columns: auto;
    padding: 0 20px;
  }

  .article-tripple-short {
    grid-row: auto;
    grid-column: span 3;
  }

  .section-tripple .section-title-aside {
    width: 200px;
  }

  .section-tripple ~ .section {
    grid-column-gap: 30px;
  }
  .section-gallery {
    padding: 0 20px;
  }

  .vertical {
    grid-row: span 2;
    aspect-ratio: 992/1899;
  }

  .vertical-width {
    aspect-ratio: 200/498;
  }

  .high-horisontal {
    aspect-ratio: 280/187;
  }

  .footer {
    font-weight: bold;
  }

  .center {
    margin: -10px 0 0 0;
  }

  .footer.decorated-zone {
    background-position: top 10px right 20px, bottom 30px left 20px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0;
    margin: 0 auto 37px;
    max-width: var(--max-width);
  }

  .decorated-zone {
    /* padding: 0 0 70px 0; */
    background-position: top 9px right 9px, bottom 11px left 10px;
  }

  /* .rec {
      right: 15px;
  } */

  .header__theme-menu {
    grid-row: 1/4;
    padding: 69px 5px 0 0;
  }

  .main-title {
    grid-row: 4/5;
    display: unset;
    margin: -47px 0 0 7px;
    line-height: 80%;
  }
  .rec {
    right: 36px;
    top: 12px;
  }
  .intro-aside {
    width: auto;
    grid-row: 6/7;
    margin: 8px 10px 0;
  }

  .section-title-aside,
  .article-long {
    grid-column: span 3;
    /* color: var(--accent-color); */
  }

  .section {
    padding: 0 10px;
    margin: 0 auto 50px;
  }

  .section-tripple {
    padding: 0 10px;
    margin: 0 auto 50px;
  }
  .section-tripple .section-title-aside {
    /* width: 200px; */
    width: 100%;
  }
  .section-gallery {
    padding: 0 10px;
    margin: -20px auto 40px;
    display: flex;
    flex-direction: column;
  }

  .section-gallery-container {
    display: flex;
    flex-direction: column;
    aspect-ratio: auto;
    margin: -20px 0 0 0;
    gap: 10px;
  }

  .vertical-width,
  .square,
  .high-horisontal,
  .vertical,
  .horizontal {
    aspect-ratio: auto;
  }

  .section-gallery-container-image {
    width: 100%;
    height: auto;
  }

  .footer {
    /* height: 650px; */
    max-width: var(--max-width);
  }
}


.theme_light.header.decorated-zone.rec {
  display: none;
  visibility: hidden;
}
